/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Noto+Serif|Oswald|Roboto+Slab&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: content-box;
}

html, body {
  min-height: 100vh;
  background-image: url('./assets/Star-Wars-Battlefront-2--1180x543.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
